<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');
    </style>
    <title>Farmers Markets</title>
</head>
<body>
    <div class="wrapper">
        <div container>
            <div class="heading">
                <h1>Farmers Markets</h1>
                <nav><a href="/new">Found a New Market? Add here!</a></nav>
            </div>
                <tbody>
                    <ul>
                        <% for(let i = 0; i < markets.length; i++){ %>
                            <li>
                                <a href="/<%=markets[i]._id%>"><%=markets[i].name %></a>
                                <form action="/<%=markets[i]._id; %>/edit">
                                    <input type="submit" value="Edit this Entry" />
                                </form> 
                                <form action="/<%= markets[i]._id; %>?_method=DELETE" method="POST">
                                    <input type="submit" value="Delete this Entry" />
                                </form>
                            </li>
                        <% } %>
                    </ul>
                </tbody>
        </div>
    </div>    
</body>

