<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Add a new Variety</title>
  </head>
  <body>
    <h1>New Variety Page</h1>
    <form action="/apples" method="POST">
        Name: <input type="text" name="name"><br>
        Upload Image: <input type="url" name="upload-image"><br>
        Date: <input type="number" name="type"><br>
        Location: <input type="text" name="stats"><br>
        Appearance: <input type="text" name="stats"><br>
        Uses: <input type="type" name="stats"><br>
        <input type="submit" value="Submit">
    </form>
   </body>
</html>